<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Horario del centro</ion-title>
  </ion-toolbar>
  <ion-button (click)="GuardarHorarioCentro()" class="centros_horarios-boton-guardar" >
    Guardar Horarios
  </ion-button>

</ion-header>

<ion-content>
  <ion-list>

   
    
    <ion-item>
      <ion-label>Lunes apertura de mañana</ion-label>
      <ion-select [(ngModel)]="horario.lunes_apertura_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar" >
        <ion-select-option  *ngFor="let horario of horarios" value="{{horario}}" >{{horario}}</ion-select-option> 
        
      </ion-select>
    </ion-item> 

    <ion-item>
      <ion-label>Lunes cierre de mañana</ion-label>
      <ion-select [(ngModel)]="horario.lunes_cierre_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
        <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Lunes apertura de tarde</ion-label>
      <ion-select [(ngModel)]="horario.lunes_apertura_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Lunes cierre de tarde</ion-label>
      <ion-select [(ngModel)]="horario.lunes_cierre_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Martes apertura de mañana</ion-label>
      <ion-select [(ngModel)]="horario.martes_apertura_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Martes cierre de mañana</ion-label>
      <ion-select [(ngModel)]="horario.martes_cierre_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Martes apertura de tarde</ion-label>
      <ion-select [(ngModel)]="horario.martes_apertura_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Martes cierre de tarde</ion-label>
      <ion-select [(ngModel)]="horario.martes_cierre_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Miercoles apertura de mañana</ion-label>
      <ion-select [(ngModel)]="horario.miercoles_apertura_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Miercoles cierre de mañana</ion-label>
      <ion-select [(ngModel)]="horario.miercoles_cierre_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Miercoles apertura de tarde</ion-label>
      <ion-select [(ngModel)]="horario.miercoles_apertura_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Miercoles cierre de tarde</ion-label>
      <ion-select [(ngModel)]="horario.miercoles_cierre_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Jueves apertura de mañana</ion-label>
      <ion-select [(ngModel)]="horario.jueves_apertura_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Jueves cierre de mañana</ion-label>
      <ion-select [(ngModel)]="horario.jueves_cierre_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Jueves apertura de tarde</ion-label>
      <ion-select [(ngModel)]="horario.jueves_apertura_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Jueves cierre de tarde</ion-label>
      <ion-select [(ngModel)]="horario.jueves_cierre_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Viernes apertura de mañana</ion-label>
      <ion-select [(ngModel)]="horario.viernes_apertura_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Viernes cierre de mañana</ion-label>
      <ion-select [(ngModel)]="horario.viernes_cierre_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Viernes apertura de tarde</ion-label>
      <ion-select [(ngModel)]="horario.viernes_apertura_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Viernes cierre de tarde</ion-label>
      <ion-select [(ngModel)]="horario.viernes_cierre_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Sabado apertura de mañana</ion-label>
      <ion-select [(ngModel)]="horario.sabado_apertura_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Sabado cierre de mañana</ion-label>
      <ion-select [(ngModel)]="horario.sabado_cierre_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Sabado apertura de tarde</ion-label>
      <ion-select [(ngModel)]="horario.sabado_apertura_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Sabado cierre de tarde</ion-label>
      <ion-select [(ngModel)]="horario.sabado_cierre_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Domingo apertura de mañana</ion-label>
      <ion-select [(ngModel)]="horario.domingo_apertura_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Domingo cierre de mañana</ion-label>
      <ion-select [(ngModel)]="horario.domingo_cierre_manana" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Domingo apertura de tarde</ion-label>
      <ion-select [(ngModel)]="horario.domingo_apertura_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Domingo cierre de tarde</ion-label>
      <ion-select [(ngModel)]="horario.domingo_cierre_tarde" 
        ok-text="Seleccionar" cancel-text="Cancelar">
      
          <ion-select-option *ngFor="let horario of horarios" value="{{horario}}">{{horario}}</ion-select-option>
      
      </ion-select>
    </ion-item> 
    
    

  
  </ion-list>
</ion-content>
